@font-face {
    font-family: 'Poppins';
    src: url('assets/Font/Poppins-Regular.ttf') format('truetype');
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #A1A1A1;

}

img.logo {
    width: 30px;
    height: auto;
}

.profile {
    position: relative;
    width: 50px;      /* sesuaikan */
    height: 50px;     /* sesuaikan */
}

.profile .border {
    width: 100%;
    height: 100%;
}

.profile .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65%;       /* sesuaikan supaya pas */
    height: 65%;
    transform: translate(-50%, -50%);
}


.statusPelamar {
    background-color: aqua;
    padding: 0px;
}

img.opsilanjutan {
    height: auto;
    width: 10px;
}