@font-face {
    font-family: 'Poppins';
    src: url('assets/Font/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
}
