:root {
  --primary: #0a84ff;
  --white: #fff;
  --bg: #1e3c72;
  --muted: #6c6c6c;
  --radius: 12px;
}

/* BACKGROUND */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom, #1e3c72, #2a5298);
  color: #222;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  background: rgba(255,255,255,0.9);
  padding: 15px 40px;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo{
  display:flex;
  align-items:center;
  font-weight:600;
  font-size:20px;
  color:#011C40;
}

.logo img{
  width:25px;
  height:25px;
  margin-right:10px;
}

.in{ color:#A7EBF3; }

.navbar nav a {
  margin-left: 25px;
  text-decoration: none;
  color: var(--muted);
  font-size: 15px;
}

.navbar nav a:hover,
.navbar nav a.active {
  color: var(--primary);
}

/* CONTENT */
.container {
  width: 90%;
  max-width: 950px;
  margin: 40px auto;
}

.job-card {
  background: white;
  padding: 30px;
  border-radius: var(--radius);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

/* HEADER JOB */
.job-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job-top img {
  width: 70px;
  height: 70px;
  border-radius:50%;
}

.company {
  color: var(--muted);
}

.save-btn {
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}

/* CTA BUTTON */
.job-actions {
  margin: 20px 0;
  display: flex;
  gap: 15px;
}

.btn-primary, .btn-outline {
  padding: 12px 22px;
  border-radius: var(--radius);
  cursor: pointer;
  border: none;
}

.btn-primary {
  background: var(--primary);
  color: white;
}

.btn-outline {
  border: 1px solid var(--primary);
  background: transparent;
  color: var(--primary);
}

/* INFO BOX */
.info-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 16px;
  margin-top: 10px;
}

.info-box {
  background: #eef6ff;
  padding: 14px;
  border-radius: var(--radius);
}

/* SECTION */
.section {
  margin-top: 25px;
}

.section h3 {
  margin-bottom: 10px;
}

.section ul {
  padding-left: 20px;
}
